@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    /* #6368ac */
    background: #6368ac;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    min-width: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-bar {
    background: linear-gradient(90deg, #575DAA, #9695C9);
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.175rem;
    font-family: "Inter", 'sans-serif';
    font-weight: bold;
    font-size: small;
    color: #fff;
}

.curved {
    height: 20vh;
    width: 100%;
    background: #575DAA;
    position: relative;
}

.curved::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #6368ac;
    height: 28%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

